In [39]:
import pandas as pd 
import re

In [28]:
amazon = pd.read_csv(r"C:\Users\Divya\skills\machineL\deep_learning\dataset\items\amazon_review.csv")
flipkart = pd.read_csv(r"C:\Users\Divya\skills\machineL\deep_learning\dataset\items\all_flipkart_products.csv")
imdb = pd.read_csv(r"C:\Users\Divya\skills\machineL\deep_learning\dataset\items\all_imdb_reviews.csv")
zomato = pd.read_csv(r"C:\Users\Divya\skills\machineL\deep_learning\dataset\items\all_zomato_reviews.csv")

In [33]:
amazon.columns = amazon.columns.str.strip().str.lower()
flipkart.columns = flipkart.columns.str.strip().str.lower()
imdb.columns = imdb.columns.str.strip().str.lower()
zomato.columns = zomato.columns.str.strip().str.lower()

In [34]:
amazon = amazon[["review", "label", "source"]]
flipkart = flipkart[["review", "label", "source"]]
imdb = imdb[["review", "label", "source"]]
zomato = zomato[["review", "label", "source"]]

In [35]:
amazon["source"] = "amazon"
flipkart["source"] = "flipkart"
imdb["source"] = "imdb"
zomato["source"] = "zomato"

In [36]:
combined = pd.concat([amazon, flipkart, imdb, zomato], ignore_index=True)

In [37]:
combined = combined.sample(frac=1, random_state=42).reset_index(drop=True)

In [38]:
combined.head()

                                              review  label    source
0  Put this movie out of it's misery and burn the...     -1      imdb
1  Nice mobile phone. Thank you Flipkart for fast...      1  flipkart
2  While the finished product--a working phone wi...     -1    amazon
3                                   Best price phone      1  flipkart
4  This book was a requirement for my 11th grade ...     -1    amazon

In [40]:
def clean_text(text):
    text = str(text).lower()
    text = re.sub(r"http\S+", "", text)
    text = re.sub(r"[^a-zA-Z\s]", "", text)
    text = re.sub(r"\s+", " ", text) 
    return text.strip()

combined["review"] = combined["review"].apply(clean_text)

In [42]:
combined.to_csv("dataset/cleaned_data.csv", index=False)